body{
    background-color:darkturquoise;
}
.left-container{
    padding:2%;
    background-color:white;
    border-radius:10px;
    margin-top:8%;
    margin-left:5%;
    display:inline-block;
    width:750px;
    
}
.right-container{
    background-color:white;
    border-radius:10px;
    margin-right:2%;
    margin-top: 7.8%;
    margin-left: 5%;
    width:350px;
    display:inline-block;
     position: absolute;
}
.name-products{
width:80%;
height:25px;
width:80%;
    height:35px;
font-size:100%;
}
.add-button{
    box-sizing: inherit;
background-color:cornflowerblue;
color:white;
cursor:pointer;
    border:none;
    height:39px;
    width:100px;
    margin-left: -1%;
}
.left{
    padding-left:25px;
    margin-top:2%;    
}

    



.title{
    font-family: cursive;
    color: white;
    text-align: left
}
  
}
.product1{
    border-radius: 0;
    height:60px;
    margin: 0;
    width: auto;
    border: none;
    
     border-bottom: solid 1px grey;
    display: block;
}
.count{
    margin-left:40%;
    width:100px;
}
.name{
float: left;
    margin-top:25px;
    font-family: cursive;
    font-size: 20px;
}
.redminusbutton{
    float: left;
    display:inline-block;
    margin-top: 25px;
    width:30px;
    height:30px;
    background-color: red;
    border:none;
    border-radius: 25px;
    text-align: center;
    color:white;
}
.greenplusbutton{
    float:right;
    display:inline-block;
    margin-top:-32%;
    width:30px;
    height:30px;
    margin-left: 2%;
    background-color: lawngreen;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: white;
}
.countnumber{
    display:inline-block;
    margin-top:25px;
    font-size:25px;
    margin-left:10%;
    margin-right:10%;
    background-color: silver;
    padding:5%;
    padding-bottom:0%;
}
.boughtpanel{
    float: right;
    display: inline-block;
margin-top: -35px;
}
.buy{
    width: 100px;
    height: 30px;
    background-color:cornflowerblue;
    border:none;
    border-radius:5px;
    color:white;
}
.delete{
    width:30px;
    height:30px;
    background-color: red;
        border:none;
    border-radius:5px;
    color:white;
}
.left-product{
    margin:1.5%;
background-color:silver;
    border-radius:2px;
    height:35px;
width:120px;
    display:inline-block;
}
.left-product-span-name{
    float:left;
    margin-top:7px;
    font-family: cursive;
margin-left: 10px;
    
}
.left-product-span-count{
    background-color:orange;
    border-radius:25px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
margin-top: 8px;
    margin-right: 8px;
}
.left-segment{
    margin-top:2%;
    margin-bottom:2%;
        width::100%;
    border-top: solid 1px grey; 
     border-bottom: solid 1px grey; 
    display:block;
    padding-top:2%;
    padding:2%;
    }

.bought{
     padding-left:27px;
    margin-bottom: 2%;

}
.bought-segment{
    margin-top:2%;
    margin-bottom:2%;
        width::100%;
    border-top: solid 1px grey; 
     border-bottom: solid 1px grey; 
    display:block;
    padding-top:2%;
    padding:2%;
}
